main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation-name: bganim;
  animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bganim {
  0% {
      background-image: linear-gradient(25deg, rgba(100, 218, 218, 0.3) 50%, rgba(151, 120, 143, 0.3) 100%);
  }
  33% {
    background-image: linear-gradient(25deg, rgba(252, 86, 188, 0.788) 15%, rgba(100,255,254,0.3) 100%);
  }
  
  66% {
    background-image: linear-gradient(25deg, rgba(182, 96, 25, 0.3) 50%, rgba(252, 86, 188, 0.788) 100%);
  }
  
  100% {
    background-image: linear-gradient(25deg, rgba(100,255,254,0.3) 50%, rgba(255,10,204,0.3) 100%);
  }
}

.page {
  /* border: 13px outset rgba(180,10,157,0.92); */
  border-color: rgba(255, 96, 234, 0.92);
}
